flows.json
[
    {
        "id": "0c118dcb95acf0e0",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23caab7f537e37b0",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "193f9130dc45f976",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": " "
    },
    {
        "id": "a61959c5fb2aafc9",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "3c48bdf53b96508a",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": ""
    },
    {
        "id": "deba420c25236b68",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB2",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f6ba5e13302a8f2d",
        "type": "websocket-listener",
        "path": "/ws/data1",
        "wholemsg": "false"
    },
    {
        "id": "306cbd25cc04de54",
        "type": "ui_tab",
        "name": "座椅调节控制",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "537508fd3ed14618",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dbfb00425042125b",
        "type": "ui_group",
        "name": "靠背座椅调节",
        "tab": "306cbd25cc04de54",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1a41cf7a6b38945",
        "type": "ui_group",
        "name": "靠背气囊控制",
        "tab": "306cbd25cc04de54",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20dc2e58cd1697de",
        "type": "ui_group",
        "name": "坐垫气囊控制",
        "tab": "306cbd25cc04de54",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf4a94812749c661",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "气囊缩小",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 440,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e3920fd1baff9695",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 1600,
        "wires": [
            [
                "cf4a94812749c661"
            ]
        ]
    },
    {
        "id": "63ebd4bdd9714b3a",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 1640,
        "wires": [
            [
                "cf4a94812749c661"
            ]
        ]
    },
    {
        "id": "fdc942fb31624e85",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 1600,
        "wires": []
    },
    {
        "id": "99cc11e69916c2a8",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 610,
        "y": 1600,
        "wires": [
            [
                "fdc942fb31624e85"
            ]
        ]
    },
    {
        "id": "d568b2f22bc19569",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 610,
        "y": 1640,
        "wires": [
            [
                "fdc942fb31624e85"
            ]
        ]
    },
    {
        "id": "27c33cf2b57d663c",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 1720,
        "wires": []
    },
    {
        "id": "0c437a639be0ab31",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 610,
        "y": 1720,
        "wires": [
            [
                "27c33cf2b57d663c"
            ]
        ]
    },
    {
        "id": "678f823c01496a64",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 610,
        "y": 1760,
        "wires": [
            [
                "27c33cf2b57d663c"
            ]
        ]
    },
    {
        "id": "c7cd073bcde33dcb",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "6efd36653f8e5cd8",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "f3aa8a1fb70a02ef",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "c7cd073bcde33dcb"
            ]
        ]
    },
    {
        "id": "41a41c8df79175f9",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "c7cd073bcde33dcb"
            ]
        ]
    },
    {
        "id": "9d6e149a7647455d",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "6efd36653f8e5cd8"
            ]
        ]
    },
    {
        "id": "6dc267b7f7ed4f5d",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "6efd36653f8e5cd8"
            ]
        ]
    },
    {
        "id": "243d810f2107d028",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "气囊变大",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 440,
        "y": 1740,
        "wires": []
    },
    {
        "id": "03b653f3fabcca8a",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 1740,
        "wires": [
            [
                "243d810f2107d028"
            ]
        ]
    },
    {
        "id": "3bcd98a39065e0ff",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 1700,
        "wires": [
            [
                "243d810f2107d028"
            ]
        ]
    },
    {
        "id": "ca12559ca63ff943",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "按摩",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1350,
        "y": 260,
        "wires": []
    },
    {
        "id": "03f44f7b4895ef91",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "ca12559ca63ff943"
            ]
        ]
    },
    {
        "id": "ba06beda63e72250",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "ca12559ca63ff943"
            ]
        ]
    },
    {
        "id": "32b441118f7186f7",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 380,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2df535af1026de2f",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1300,
        "wires": [
            [
                "32b441118f7186f7"
            ]
        ]
    },
    {
        "id": "4f4a5fa6b6bcc7b2",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "32b441118f7186f7"
            ]
        ]
    },
    {
        "id": "3c52eda2f5c07d78",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 360,
        "y": 1420,
        "wires": []
    },
    {
        "id": "49b1adff6f82dd03",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "3c52eda2f5c07d78"
            ]
        ]
    },
    {
        "id": "c303efd433ad5567",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "3c52eda2f5c07d78"
            ]
        ]
    },
    {
        "id": "6c2ce61f0669d035",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅向上移动",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9387df46a5f80728",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅向下移动",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 1440,
        "wires": []
    },
    {
        "id": "db8a1940f44861b8",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "6c2ce61f0669d035"
            ]
        ]
    },
    {
        "id": "a94f44b1c5b12814",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "6c2ce61f0669d035"
            ]
        ]
    },
    {
        "id": "a731cbc5a484594e",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 550,
        "y": 1420,
        "wires": [
            [
                "9387df46a5f80728"
            ]
        ]
    },
    {
        "id": "0bf248aaad4666d1",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "关",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 550,
        "y": 1460,
        "wires": [
            [
                "9387df46a5f80728"
            ]
        ]
    },
    {
        "id": "3dcdd951ba89283a",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x00, 0x64, 0x64, 0x64, 0x00, 0x00, 0x00, 0x30]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "21dc4903a5712a05"
            ]
        ]
    },
    {
        "id": "21dc4903a5712a05",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "5344df2ce83c0696",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 500,
        "wires": [
            [
                "3dcdd951ba89283a"
            ]
        ]
    },
    {
        "id": "3fb35e29fb02086a",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊放气",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,0x20]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 620,
        "wires": [
            [
                "ca7cc46fc6ad3ff6"
            ]
        ]
    },
    {
        "id": "ca7cc46fc6ad3ff6",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1430,
        "y": 620,
        "wires": []
    },
    {
        "id": "36c693def48ace4a",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "3fb35e29fb02086a"
            ]
        ]
    },
    {
        "id": "a48876c9eb169440",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊",
        "func": "var delimiter = Buffer.from([0x07, 0x64, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "51f59b9c64fffa71"
            ]
        ]
    },
    {
        "id": "51f59b9c64fffa71",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1330,
        "y": 100,
        "wires": []
    },
    {
        "id": "329e6e5b7647e530",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "a48876c9eb169440"
            ]
        ]
    },
    {
        "id": "99d5fafaee618d5d",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 40,
        "wires": [
            [
                "f556b73261e37f47"
            ]
        ]
    },
    {
        "id": "f556b73261e37f47",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1330,
        "y": 40,
        "wires": []
    },
    {
        "id": "b90401e84c78b4be",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 40,
        "wires": [
            [
                "99d5fafaee618d5d"
            ]
        ]
    },
    {
        "id": "e3551c7e5f4e8e15",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气靠背最下",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 720,
        "wires": [
            [
                "a7111bfaa6a21179"
            ]
        ]
    },
    {
        "id": "a7111bfaa6a21179",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1410,
        "y": 720,
        "wires": []
    },
    {
        "id": "e6e3867cf1316b5b",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 720,
        "wires": [
            [
                "e3551c7e5f4e8e15"
            ]
        ]
    },
    {
        "id": "80a523ccb90fe104",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 120,
        "wires": [
            [
                "b9e2296578d5f3d8"
            ]
        ]
    },
    {
        "id": "b9e2296578d5f3d8",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1950,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ec99578fcfc6e39",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1490,
        "y": 120,
        "wires": [
            [
                "80a523ccb90fe104"
            ]
        ]
    },
    {
        "id": "67a11eac533670aa",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "function 4",
        "func": "global.set(\"bagCounts\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "42a241ef3ed50158",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 1540,
        "wires": [
            [
                "67a11eac533670aa"
            ]
        ]
    },
    {
        "id": "301cc8c7d875ba72",
        "type": "loop",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 1890,
        "y": 880,
        "wires": [
            [],
            [
                "ece5ac3d58462de4"
            ]
        ]
    },
    {
        "id": "ece5ac3d58462de4",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x64, 0x64, 0x64, 0x64, 0x00, 0x00, 0x00, 0x30]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 860,
        "wires": [
            [
                "b214acefbe82eafb",
                "ad7436cc3b93678c"
            ]
        ]
    },
    {
        "id": "b214acefbe82eafb",
        "type": "delay",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2310,
        "y": 900,
        "wires": [
            [
                "301cc8c7d875ba72"
            ]
        ]
    },
    {
        "id": "c8b0119e9718581b",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1640,
        "y": 880,
        "wires": [
            [
                "301cc8c7d875ba72"
            ]
        ]
    },
    {
        "id": "ad7436cc3b93678c",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 2310,
        "y": 840,
        "wires": []
    },
    {
        "id": "cbe804f13af3ea25",
        "type": "loop",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 1930,
        "y": 720,
        "wires": [
            [],
            [
                "3801cb38374da708"
            ]
        ]
    },
    {
        "id": "3801cb38374da708",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "靠背气囊放气",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x20]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 700,
        "wires": [
            [
                "efda232c60174fb4",
                "1cdab24f611ad4f7"
            ]
        ]
    },
    {
        "id": "efda232c60174fb4",
        "type": "delay",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2350,
        "y": 740,
        "wires": [
            [
                "cbe804f13af3ea25"
            ]
        ]
    },
    {
        "id": "5512129aa950e0e6",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1670,
        "y": 720,
        "wires": [
            [
                "cbe804f13af3ea25"
            ]
        ]
    },
    {
        "id": "1cdab24f611ad4f7",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 2350,
        "y": 680,
        "wires": []
    },
    {
        "id": "f399c9e98f566cb3",
        "type": "loop",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 1930,
        "y": 600,
        "wires": [
            [],
            [
                "e8d9cb47c135f271"
            ]
        ]
    },
    {
        "id": "e8d9cb47c135f271",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "靠背气囊充气",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x00, 0x64, 0x64, 0x64, 0x00, 0x00, 0x00, 0x30]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 580,
        "wires": [
            [
                "0cd1b1fcaa052150",
                "11852c97c24b439d"
            ]
        ]
    },
    {
        "id": "0cd1b1fcaa052150",
        "type": "delay",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2350,
        "y": 620,
        "wires": [
            [
                "f399c9e98f566cb3"
            ]
        ]
    },
    {
        "id": "f927b808fcf0522f",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1670,
        "y": 600,
        "wires": [
            [
                "f399c9e98f566cb3"
            ]
        ]
    },
    {
        "id": "11852c97c24b439d",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 2350,
        "y": 560,
        "wires": []
    },
    {
        "id": "6dd8f0e5e00ae731",
        "type": "loop",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 1930,
        "y": 460,
        "wires": [
            [],
            [
                "1e23a2d5c2ce7b97"
            ]
        ]
    },
    {
        "id": "1e23a2d5c2ce7b97",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 440,
        "wires": [
            [
                "15069ca6454029a1",
                "2565caccdab4f766"
            ]
        ]
    },
    {
        "id": "15069ca6454029a1",
        "type": "delay",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2350,
        "y": 480,
        "wires": [
            [
                "6dd8f0e5e00ae731"
            ]
        ]
    },
    {
        "id": "6d0c4f3220261b33",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1670,
        "y": 460,
        "wires": [
            [
                "6dd8f0e5e00ae731"
            ]
        ]
    },
    {
        "id": "2565caccdab4f766",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 2350,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed05ebc2c64b0c39",
        "type": "loop",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 1930,
        "y": 300,
        "wires": [
            [],
            [
                "f800cd5c6415afd5"
            ]
        ]
    },
    {
        "id": "f800cd5c6415afd5",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊充气",
        "func": "var delimiter = Buffer.from([0x07, 0x64, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 280,
        "wires": [
            [
                "e0d683d9f5aab7fa",
                "5722ed02f3c00912"
            ]
        ]
    },
    {
        "id": "e0d683d9f5aab7fa",
        "type": "delay",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2350,
        "y": 320,
        "wires": [
            [
                "ed05ebc2c64b0c39"
            ]
        ]
    },
    {
        "id": "0c241a2e462eda29",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1670,
        "y": 300,
        "wires": [
            [
                "ed05ebc2c64b0c39"
            ]
        ]
    },
    {
        "id": "5722ed02f3c00912",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 2350,
        "y": 260,
        "wires": []
    },
    {
        "id": "2ff61a48a09eb56c",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气(靠背中间)",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 820,
        "wires": [
            [
                "80526efe5557951d"
            ]
        ]
    },
    {
        "id": "80526efe5557951d",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1430,
        "y": 820,
        "wires": []
    },
    {
        "id": "440d5ce95b22ab77",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 820,
        "wires": [
            [
                "2ff61a48a09eb56c"
            ]
        ]
    },
    {
        "id": "70e60eaba5d08f5f",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气(靠背最上)",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            [
                "61dc1bf9096a1ef8"
            ]
        ]
    },
    {
        "id": "61dc1bf9096a1ef8",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1390,
        "y": 920,
        "wires": []
    },
    {
        "id": "2a3ade07d6723293",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 920,
        "wires": [
            [
                "70e60eaba5d08f5f"
            ]
        ]
    },
    {
        "id": "85c21807eabfa509",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "座椅向上",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "d6970ed38b4edb61"
            ]
        ]
    },
    {
        "id": "29fb9d3f30783d2c",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "座椅向下",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "0fa61a3c16a494c2"
            ]
        ]
    },
    {
        "id": "dd5d13935a872e9b",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "座椅向前",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "84e0481d02a17202"
            ]
        ]
    },
    {
        "id": "9df0b8baa0421e4b",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "座椅向后",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "652eb34c6229f984"
            ]
        ]
    },
    {
        "id": "84e0481d02a17202",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "652eb34c6229f984",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0ddc2ea4fa138fb",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "150d17bb5b03597a",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7fc3cc037c449c6",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "靠背向前",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "150d17bb5b03597a"
            ]
        ]
    },
    {
        "id": "b032181df78bdcbe",
        "type": "ui_switch",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "label": "靠背向后",
        "tooltip": "",
        "group": "dbfb00425042125b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "e0ddc2ea4fa138fb"
            ]
        ]
    },
    {
        "id": "94f4fba4940327d3",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "c1a41cf7a6b38945",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "靠背气囊全部放气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "e39a453b75b5a290"
            ]
        ]
    },
    {
        "id": "e39a453b75b5a290",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊放气",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,0x20]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "88c56f7603b67d4b"
            ]
        ]
    },
    {
        "id": "88c56f7603b67d4b",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "4bc0af7db57c7793",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气靠背最下",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "d1c7f2cf0a5e28b6"
            ]
        ]
    },
    {
        "id": "d1c7f2cf0a5e28b6",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "ab7b4f34170d0ae6",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气(靠背中间)",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 740,
        "wires": [
            [
                "480a6d9165bcd431"
            ]
        ]
    },
    {
        "id": "480a6d9165bcd431",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "8baf752fde1823a1",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊充气(靠背最上)",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 820,
        "wires": [
            [
                "a6c7aeee4d1671cb"
            ]
        ]
    },
    {
        "id": "a6c7aeee4d1671cb",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 590,
        "y": 820,
        "wires": []
    },
    {
        "id": "d0943bcf045ff325",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "c1a41cf7a6b38945",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "靠背下侧充气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "4bc0af7db57c7793"
            ]
        ]
    },
    {
        "id": "9ff911d3231b9947",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "c1a41cf7a6b38945",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "靠背中间气囊充气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "ab7b4f34170d0ae6"
            ]
        ]
    },
    {
        "id": "0314a657dac963b5",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "c1a41cf7a6b38945",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "靠背上侧气囊充气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "8baf752fde1823a1"
            ]
        ]
    },
    {
        "id": "bf0dd615c05112a3",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊",
        "func": "var delimiter = Buffer.from([0x07, 0x64, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 960,
        "wires": [
            [
                "7302cb0a74a032f6"
            ]
        ]
    },
    {
        "id": "7302cb0a74a032f6",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "6e9a022aae9d807a",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 900,
        "wires": [
            [
                "215766228913f7ef"
            ]
        ]
    },
    {
        "id": "215766228913f7ef",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 570,
        "y": 900,
        "wires": []
    },
    {
        "id": "7ac33e011ebfc2ed",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "20dc2e58cd1697de",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "坐垫气囊放气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "6e9a022aae9d807a"
            ]
        ]
    },
    {
        "id": "03434f2b45d75373",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "20dc2e58cd1697de",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "坐垫气囊充气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "bf0dd615c05112a3"
            ]
        ]
    },
    {
        "id": "a388d3912b73c3a2",
        "type": "ui_button",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "group": "c1a41cf7a6b38945",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "靠背气囊全部充气",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "860d610f807f30fa"
            ]
        ]
    },
    {
        "id": "860d610f807f30fa",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "气囊放气",
        "func": "var delimiter = Buffer.from([0x05, 0x64, 0x64, 0x64, 0x64, 0x64, 0x00, 0x00, 0x00, 0x30]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 620,
        "wires": [
            [
                "7e0be66c36b95ea2"
            ]
        ]
    },
    {
        "id": "7e0be66c36b95ea2",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "d6970ed38b4edb61",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "0fa61a3c16a494c2",
        "type": "rpi-gpio out",
        "z": "0c118dcb95acf0e0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "aefc712029c2cdd0",
        "type": "function",
        "z": "0c118dcb95acf0e0",
        "name": "测试气囊",
        "func": "var delimiter = Buffer.from([0x05, 0x15, 0x30, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "70f4b7581c0d1460"
            ]
        ]
    },
    {
        "id": "70f4b7581c0d1460",
        "type": "serial out",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 1370,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8627be2db5e4ac46",
        "type": "inject",
        "z": "0c118dcb95acf0e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1100,
        "wires": [
            [
                "aefc712029c2cdd0"
            ]
        ]
    },
    {
        "id": "96bfd23f6af11a6e",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "sitParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\nvar readFlag = global.get(\"readFlag\");\n\nif(readFlag==1){\n    var matrixCacheArr = global.get(\"matrixCacheArr\");\n\n\n    matrixCacheArr = Buffer.concat([matrixCacheArr, Buffer.from(msg.payload)])\n\n    var index = matrixCacheArr.indexOf(delimiter, 0);\n\n    if (index == -1) {\n\n        global.set(\"matrixCacheArr\", matrixCacheArr);\n    } else {\n\n\n        var front = matrixCacheArr.slice(0, index);\n\n        matrixCacheArr = matrixCacheArr.slice(index + delimiter.length);\n        global.set(\"matrixCacheArr\", matrixCacheArr);\n        msg.payload = front;\n        return msg;\n    }\n\n}\n\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "070591219708db61"
            ]
        ]
    },
    {
        "id": "e174938059233db0",
        "type": "inject",
        "z": "23caab7f537e37b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "916338bdc4906865"
            ]
        ]
    },
    {
        "id": "070591219708db61",
        "type": "buffer-parser",
        "z": "23caab7f537e37b0",
        "name": "sitDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "sitData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 200,
        "wires": [
            [
                "232de288188f9e43"
            ]
        ]
    },
    {
        "id": "453ef442462c1c6d",
        "type": "serial in",
        "z": "23caab7f537e37b0",
        "name": "Serialport0",
        "serial": "193f9130dc45f976",
        "x": 505,
        "y": 260,
        "wires": [
            [
                "7b925195e5ed571a"
            ]
        ],
        "l": false
    },
    {
        "id": "7b925195e5ed571a",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "backParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\nvar readFlag = global.get(\"readFlag\");\nif(readFlag==1){\n    var matrixCacheArr_back = global.get(\"matrixCacheArr_back\");\n\n\n    matrixCacheArr_back = Buffer.concat([matrixCacheArr_back, Buffer.from(msg.payload)])\n\n    var index = matrixCacheArr_back.indexOf(delimiter, 0);\n\n    if (index == -1) {\n\n        global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n    } else {\n\n\n        var front = matrixCacheArr_back.slice(0, index);\n\n        matrixCacheArr_back = matrixCacheArr_back.slice(index + delimiter.length);\n        global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n        msg.payload = front;\n        return msg;\n    }\n\n}\n\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "9173d7a7828a888f"
            ]
        ]
    },
    {
        "id": "9173d7a7828a888f",
        "type": "buffer-parser",
        "z": "23caab7f537e37b0",
        "name": "backDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "backData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "8a4becfb77d0b968"
            ]
        ]
    },
    {
        "id": "1cdf9c61f588fd1a",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "在离坐判断",
        "func": "// 汽车座椅的使用逻辑\nif (msg.payload.sitData!=null){\n    global.set(\"sitMatrixData\", msg.payload.sitData);\n   \n   \n}\nif (msg.payload.backData != null) {\n    global.set(\"backMatrixData\", msg.payload.backData);\n}\n\n\nconst sitMatrixSum = global.get(\"sitMatrixData\").reduce((accumulator, currentValue) => {\n    return accumulator + currentValue;\n}, 0);\n \nmsg.sitMatrixSum = sitMatrixSum;\n\n\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "91b5fc23b942bbeb"
            ]
        ]
    },
    {
        "id": "aa1520de9ae4d721",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "realTimeMatrix",
        "func": "\n\nglobal.set(\"controlingFlag\",0);\n//初始化复位标识\nglobal.set(\"resetCompleteFlag\",1);\n\n//设置全局变量 保存坐垫及靠背的实时矩阵数据\nvar sitMatrixData=new Array();\nvar backMatrixData=new Array();\nglobal.set(\"sitMatrixData\", sitMatrixData);\nglobal.set(\"backMatrixData\", backMatrixData);\n//在离坐判断全局变量\nglobal.set(\"onSeatCount\",0);\nglobal.set(\"notSeatCount\",0);\n\n//座椅 坐垫 上下调节条件frontControlTime\nglobal.set(\"frontControlTime\",0);\nglobal.set(\"frontUpConditionCount\",0);\nglobal.set(\"frontDownConditionCount\", 0);\n\n//座椅 靠背 靠背调节条件\n\nglobal.set(\"personType\",0);\n\nglobal.set(\"hunchControlTime\",0);\nglobal.set(\"hunchUpConditionCount\",0);\nglobal.set(\"hunchDownConditionCount\",0);\n\nglobal.set(\"hunchBagUpConditionCount\", 0);\nglobal.set(\"hunchBagDownConditionCount\", 0);\n\n\n//座椅 靠背调节条件\nglobal.set(\"waistControlTime\",0);\nglobal.set(\"waistUpConditionCount\",0);\nglobal.set(\"waistDownConditionCount\",0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 40,
        "wires": [
            [
                "1cdf9c61f588fd1a"
            ]
        ]
    },
    {
        "id": "ac794d8032d782e3",
        "type": "inject",
        "z": "23caab7f537e37b0",
        "name": "矩阵处理GlobalVariable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 80,
        "wires": [
            [
                "aa1520de9ae4d721"
            ]
        ]
    },
    {
        "id": "91b5fc23b942bbeb",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "",
        "property": "sitMatrixSum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2000",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "2000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 240,
        "wires": [
            [
                "f85f875b194f808f"
            ],
            [
                "680a3af1333a254f"
            ]
        ]
    },
    {
        "id": "680a3af1333a254f",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "在座次数逻辑处理",
        "func": "\n\nvar onSeatCount = global.get(\"onSeatCount\");\nvar notSeatCount = global.get(\"notSeatCount\");\n\nnotSeatCount=0;\nglobal.set(\"notSeatCount\", notSeatCount);\n\nonSeatCount++;\nglobal.set(\"onSeatCount\", onSeatCount);\n \n//放置数据溢出\nif (onSeatCount > 20000) \n{ global.set(\"onSeatCount\", 20000);};\n\nmsg.payload = onSeatCount;\n\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 1800,
        "wires": [
            [
                "ce883fd325826609"
            ]
        ]
    },
    {
        "id": "f85f875b194f808f",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "离坐次数逻辑处理",
        "func": "\n\nvar resetCompleteFlag = global.get(\"resetCompleteFlag\");\nif(resetCompleteFlag==0){\n    var onSeatCount = global.get(\"onSeatCount\");\n    var notSeatCount = global.get(\"notSeatCount\");\n\n    onSeatCount = 0;\n    global.set(\"onSeatCount\", onSeatCount);\n\n    notSeatCount++;\n    global.set(\"notSeatCount\", notSeatCount);\n    //防止数据溢出\n    if (notSeatCount > 5000) { global.set(\"notSeatCount\", 5000); };\n\n    msg.payload = notSeatCount;\n\n\n    return msg;\n\n}\n\n \n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 240,
        "wires": [
            [
                "75823bbbffb694c2"
            ]
        ]
    },
    {
        "id": "ce883fd325826609",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1810,
        "y": 2200,
        "wires": [
            [
                "94d0d8f3c315f574"
            ]
        ]
    },
    {
        "id": "d4514e8011fae40f",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "BackActionTrigger",
        "func": "// console.info(\"在座次数\" + msg.payload);\n// 复位标识为0  可进入复位  \nglobal.set(\"resetCompleteFlag\", 0);\n\nvar ndata =global.get(\"backMatrixData\");\n \n \nvar num1 = 0, num2 = 0, num3 = 0;\nvar numHead=0,numBody=0,numFoot=0;\nvar oneLine=0\nvar twoLine=0,threeLine=0,fourLine=0,fiveLine=0;\nvar sixLine=0,servenLine=0,eightLine=0,nineLine=0,tenLine=0;\n\nvar topSum=0,bottomSum=0;\n\n\nfor(var i=0;i<10;i++){\n    oneLine+=ndata[i];\n}\nfor (var i = 10; i < 20; i++) {\n    twoLine += ndata[i];\n}\nfor (var i = 20; i < 30; i++) {\n    threeLine += ndata[i];\n}\nfor (var i = 30; i < 40; i++) {\n    fourLine += ndata[i];\n}\nfor (var i = 40; i < 50; i++) {\n    fiveLine += ndata[i];\n}\nfor (var i = 50; i < 60; i++) {\n    sixLine += ndata[i];\n}\nfor (var i = 60; i < 70; i++) {\n    servenLine += ndata[i];\n}\nfor (var i = 70; i < 80; i++) {\n    eightLine += ndata[i];\n}\nfor (var i = 80; i < 90; i++) {\n    nineLine += ndata[i];\n}\nfor (var i = 90; i < 100; i++) {\n    tenLine += ndata[i];\n}\n\nconsole.info(\n        \"oneLine:\" + Math.floor(oneLine)+\n    \" twoLine :\" + Math.floor(twoLine)+\n    \" threeLine :\" + Math.floor(threeLine)+\n    \" fourLine :\" + Math.floor(fourLine)+\n    \" fiveLine :\" + Math.floor(fiveLine)+\n    \" sixLine :\" + Math.floor(sixLine)+\n    \" servenLine :\" + Math.floor(servenLine)+\n    \" eightLine :\" + Math.floor(eightLine)+\n    \" nineLine :\" + Math.floor(nineLine)+\n    \" tenLine :\" + Math.floor(tenLine)\n);\n\nfor(var i=0;i<50;i++){\n    topSum+=ndata[i];\n}\nfor(var i=50;i<100;i++){\n    bottomSum+=ndata[i];\n}\nconsole.info(\n    \"topSum :\"+topSum+\n    \"  bottomSum :\"+bottomSum\n)\n\n\n// for(var i=0;i<20;i++){\n//     oneLine+=ndata[i];\n// }\n// for (var i = 20; i < 40; i++) {\n//     twoLine += ndata[i];\n// } \n// for (var i = 40; i < 60; i++) {\n//     threeLine += ndata[i];\n// }\n//  for (var i = 60; i < 80; i++) {\n//     fourLine += ndata[i];\n// }\n//  for (var i = 80; i < 100; i++) {\n//     fiveLine += ndata[i];\n// }\n// console.info(\n//     \"oneLine:\" + Math.floor(oneLine)+\n//     \"twoLine :\" + Math.floor(twoLine)+\n//     \"threeLine :\" + Math.floor(threeLine)+\n//     \"fourLine :\" + Math.floor(fourLine)+\n//         \"fiveLine :\" + Math.floor(fiveLine)\n// )\n \nfor (var i = 0; i < 10; i++) {\n    ndata[i * 10 + 0] = ndata[i * 10 + 1];\n    ndata[i * 10 + 9] = ndata[i * 10 + 8];\n}\nfor (var i = 0; i < 29; i++) {\n    num1 += ndata[i];\n}\nfor (var i = 29; i < 69; i++) {\n    num2 += ndata[i];\n}\nfor (var i = 69; i < 99; i++) {\n    num3 += ndata[i];\n}\n\n\n\nfor (var i = 49; i < 99; i++) {\n    numFoot+=ndata[i];\n}\n//靠背上部求和平均\nnum1 = num1 / 30;\n//靠背中部求和平均\nnum2 = num2 / 40;\n//靠背下部求和平均\nnum3 = (num3-40) / 30;\nvar sumBack = num1 + num2 + num3;\nvar waist = num1 / sumBack;\n//var hunch = (num2+ num3) / sumBack;\n//var hunch=numFoot/num1;\nvar back=num3/num2;\n\n//var hunch = (oneLine + twoLine) / (oneLine + twoLine+fiveLine);\nvar hunch=(topSum/bottomSum);\n\nconst backMatrixSum=ndata.reduce((accumulater,currentValue)=>{\n    return accumulater+currentValue;\n},0);\n\nconsole.info(\n    \"backsum: \" + backMatrixSum.toFixed(2)+\n \"  sumBack:\" + sumBack.toFixed(2) \n+ \" waist: \" + waist.toFixed(2) + \n\" hunch: \" + hunch.toFixed(2)\n\n);\n\n\nmsg.waist = waist.toFixed(2)  ;\nmsg.hunch = hunch.toFixed(2);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2750,
        "y": 2440,
        "wires": [
            [
                "ba815064a5e3e0a2"
            ]
        ]
    },
    {
        "id": "75823bbbffb694c2",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2070,
        "y": 240,
        "wires": [
            [
                "e8b517a694a27acf"
            ]
        ]
    },
    {
        "id": "e8b517a694a27acf",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "离坐动作触发",
        "func": "// console.info(\"离坐次数: \" + msg.payload);\n\nvar waistControlTime=global.get(\"waistControlTime\");\nvar hunchControlTime = global.get(\"hunchControlTime\");\nvar frontControlTime = global.get(\"frontControlTime\");\n\nmsg.waistControlTime = waistControlTime;\nmsg.hunchControlTime = hunchControlTime;\nmsg.frontControlTime = frontControlTime;\n\nglobal.set(\"resetCompleteFlag\",1);\n\n\nglobal.set(\"controlNumber\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 240,
        "wires": [
            [
                "8389342d3ac68bc1",
                "f43741ac300f6cf1"
            ]
        ]
    },
    {
        "id": "5f717a82896161e6",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "SitActionTrigger",
        "func": "// 复位标识为0  可进入复位  \nglobal.set(\"resetCompleteFlag\", 0);\nconst ndata1 = global.get(\"sitMatrixData\");\n\n// console.info(ndata1);\n\n\nconst sitMatrixDataSum = ndata1.reduce((accumulator, currentValue) => {\n    return accumulator + currentValue;\n}, 0);\n// console.info(\"sitSum: \" + sitMatrixDataSum);\n\n\n// (accumulator, currentValue) => {\n//     return accumulator + currentValue;\n// }, 0\n\n \n\nvar num11 = 0, num21 = 0, num31 = 0, num41 = 0, num51 = 0, num61 = 0;\n\nvar num1=0,num2=0;\nfor(var i=0;i<20;i++){\n    num1+=ndata1[i];\n}\n\nfor (var i = 60; i < 100; i++) {\n    num2 += ndata1[i];\n}\n\nvar front=num1*2/num2;\n\n\n// console.info(\"sum: \" + sitMatrixDataSum );\nconsole.info(\n     \n  \n    \" front: \" + front.toFixed(2) \n)\n\nmsg.front=front;\n\nmsg.payload = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 3320,
        "wires": [
            [
                "3cc4a9f3e8a1d363"
            ]
        ]
    },
    {
        "id": "ba815064a5e3e0a2",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "switch_hunch",
        "property": "hunch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1.3",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "1.3",
                "vt": "num",
                "v2": "1.0",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "0.4",
                "vt": "num",
                "v2": "0.25",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0.25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 3040,
        "y": 2440,
        "wires": [
            [
                "042ccadb945582fc"
            ],
            [
                "4349ed56e6516c2d"
            ],
            [
                "dec9cd6694ec9452"
            ],
            [
                "20b1a596648ac30c"
            ]
        ]
    },
    {
        "id": "20b1a596648ac30c",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "\nglobal.set(\"hunchDownConditionCount\", 0);\n\nvar hunchUpConditionCount = global.get(\"hunchUpConditionCount\");\nhunchUpConditionCount++;\nglobal.set(\"hunchUpConditionCount\", hunchUpConditionCount);\n\nvar hunchControlTime = global.get(\"hunchControlTime\");\n\nconsole.info(\"hunchControlTime:\"+hunchControlTime);\nconsole.info(\"hunchUpConditionCount: \" + hunchUpConditionCount)\n//向前移动的范围不超过6s\n//条件窗口为30帧连续判断\nif(hunchControlTime<6000){\n//条件窗口为30帧连续判断\n    if (hunchUpConditionCount > 30) {\n        msg.payload = 1;\n        global.set(\"hunchUpConditionCount\", 0);\n\n        var controlingFlag = global.get(\"controlingFlag\");\n        if (controlingFlag == 0) {\n            global.set(\"controlingFlag\", 1);\n            return msg;\n        }\n    }\n\n}\n\n \n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3240,
        "y": 2660,
        "wires": [
            [
                "49eefdb6138996fe",
                "858618ba7d8aedd3"
            ]
        ]
    },
    {
        "id": "042ccadb945582fc",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "\nglobal.set(\"hunchUpConditionCount\", 0);\n\nvar hunchDownConditionCount = global.get(\"hunchDownConditionCount\");\nhunchDownConditionCount++;\nglobal.set(\"hunchDownConditionCount\", hunchDownConditionCount);\n\nvar hunchControlTime = global.get(\"hunchControlTime\");\n\nconsole.info(\"hunchControlTime: \"  +hunchControlTime);\nconsole.info(\"hunchDownConditionCount: \" + hunchDownConditionCount)\n//移动的范围不超过6s\n//条件窗口为30帧连续判断\nconsole.info();\nif (hunchControlTime >- 6000) {\n    //条件窗口为30帧连续判断\n    if (hunchDownConditionCount > 30) {\n        msg.payload = 1;\n        global.set(\"hunchDownConditionCount\", 0);\n\n        var controlingFlag = global.get(\"controlingFlag\");\n        if (controlingFlag == 0) {\n            global.set(\"controlingFlag\", 1);\n            return msg;\n        }\n    }\n\n}\n\n \n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 2180,
        "wires": [
            [
                "cc8c795819132cd5",
                "39a2727a83b5d2ac"
            ]
        ]
    },
    {
        "id": "ba7a4d491ddb387d",
        "type": "websocket out",
        "z": "23caab7f537e37b0",
        "name": "",
        "server": "a61959c5fb2aafc9",
        "client": "",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "3cc4a9f3e8a1d363",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "switch_front",
        "property": "front",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0.45",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3030,
        "y": 3300,
        "wires": [
            [
                "e4b94da4e0f4f15c"
            ],
            [
                "19c76b377dcaf54c"
            ]
        ]
    },
    {
        "id": "232de288188f9e43",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "10*10坐线序",
        "func": "\n\nconst arr = msg.payload.sitData;\nlet ndata = [];\nfor (let i = 0; i < 32; i++) {\n    for (let j = 0; j < 32; j++) {\n        if (i < 10 && j > 21) {\n            ndata.push(arr[i * 32 + j]);\n        }\n    }\n}\n\nfor (let i = 0; i < 2; i++) {\n    for (let j = 0; j < 10; j++) {\n        [ndata[i * 10 + j], ndata[(4 - i) * 10 + j]] = [\n            ndata[(4 - i) * 10 + j],\n            ndata[i * 10 + j],\n        ];\n    }\n}\n\nfor (let i = 0; i < 5; i++) {\n    for (let j = 0; j < 10; j++) {\n        [ndata[i * 10 + j], ndata[(9-i) * 10 + j]] = [\n            ndata[(9-i) * 10 + j],\n            ndata[i * 10 + j],\n        ];\n    }\n}\nconst height = 10\nconst width = 10\n\nlet matrix = [];\nfor (let i = 0; i < height; i++) {\n    matrix[i] = [];\n    for (let j = 0; j < width; j++) {\n        matrix[i].push(ndata[i * width + j]);\n    }\n}\n//逆时针旋转 180 度\n//行 = h - 1 - 行(i);  h表示总行数\n//列 = n - 1 - 列(j);  n表示总列数\nvar temp = [];\nvar len = matrix.length;\nfor (var i = 0; i < len; i++) {\n    for (var j = 0; j < len; j++) {\n        var k = len - 1 - i;\n        if (!temp[k]) {\n            temp[k] = [];\n        }\n        temp[k][len - 1 - j] = matrix[i][j];\n    }\n}\nlet resArr = [];\nfor (let i = 0; i < temp.length; i++) {\n    resArr = resArr.concat(temp[i]);\n}\n\nndata = resArr\n\nconst newDataArr = []\n\nfor (let i = 0; i < 5; i++) {\n\n    for (let j = 0; j < 5; j++) {\n        let num = 0\n\n        for (let k = 0; k < 2; k++) {\n            for (let z = 0; z < 2; z++) {\n                num += ndata[(i * 2 + k) * 10 + j * 2 + z]\n                // console.log(i + k, j + z)\n            }\n        }\n\n        newDataArr.push(Number((num / 4).toFixed(1)))\n    }\n\n}\n\nfor (let i = 0; i < 5; i++) {\n\n    for (let j = 0; j < 5; j++) {\n        let num = 0\n\n        for (let k = 0; k < 2; k++) {\n            for (let z = 0; z < 2; z++) {\n                // num += ndata[(i*2 + k) * 10 + j*2 + z]\n                ndata[(i * 2 + k) * 10 + j * 2 + z] = newDataArr[i * 5 + j]\n                // console.log(i + k, j + z)\n            }\n        }\n\n        // newArr.push(Number((num / 4).toFixed(1)))\n    }\n\n}\n\n\n\nmsg.payload.sitData=ndata;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "ba7a4d491ddb387d",
                "1cdf9c61f588fd1a"
            ]
        ]
    },
    {
        "id": "8a4becfb77d0b968",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "10*10背线序",
        "func": "const arr = msg.payload.backData;\nlet ndata = [];\nfor (let i = 0; i < 32; i++) {\n    for (let j = 0; j < 32; j++) {\n        if (i < 10 && j > 21) {\n            ndata.push(arr[i * 32 + j]);\n        }\n    }\n}\n\nfor (let i = 0; i < 2; i++) {\n    for (let j = 0; j < 10; j++) {\n        [ndata[i * 10 + j], ndata[(4 - i) * 10 + j]] = [\n            ndata[(4 - i) * 10 + j],\n            ndata[i * 10 + j],\n        ];\n    }\n}\n\nfor (let i = 0; i < 5; i++) {\n    for (let j = 0; j < 10; j++) {\n        [ndata[i * 10 + j], ndata[(i + 5) * 10 + j]] = [\n            ndata[(i + 5) * 10 + j],\n            ndata[i * 10 + j],\n        ];\n    }\n}\n/**\n * 补充点\n */\nfor (let i = 0; i < 10; i++) {\n    for (let j = 0; j < 5; j++) {\n        [ndata[i * 10 + 9 - j], ndata[i * 10 + j]] = [\n            ndata[i * 10 + j],\n            ndata[i * 10 + 9 - j],\n        ];\n    }\n}\n\nconst length = ndata.length;\n\nconst m = 10 , n = 10\nconst wsPointData = [...ndata];\nfor (let i = 0; i < m; i++) {\n    for (let j = 0;  j< n / 2; j++) {\n        [wsPointData[i  + j*m], wsPointData[i + (n - 1 - j)*m]] = [\n            wsPointData[i + (n - 1 - j)*m],\n            wsPointData[i + j * m],\n        ];\n    }\n}\nndata = wsPointData;\n\n /////////////////////////////////\n\nconst newDataArr = []\n\n// for (let i = 0; i < 5; i++) {\n\n//     for (let j = 0; j < 5; j++) {\n//         let num = 0\n\n//         for (let k = 0; k < 2; k++) {\n//             for (let z = 0; z < 2; z++) {\n//                 num += ndata[(i * 2 + k) * 10 + j * 2 + z]\n//                 // console.log(i + k, j + z)\n//             }\n//         }\n\n//         newDataArr.push(Number((num / 4).toFixed(1)))\n//     }\n\n// }\n\n// for (let i = 0; i < 5; i++) {\n\n//     for (let j = 0; j < 5; j++) {\n//         let num = 0\n\n//         for (let k = 0; k < 2; k++) {\n//             for (let z = 0; z < 2; z++) {\n//                 // num += ndata[(i*2 + k) * 10 + j*2 + z]\n//                 ndata[(i * 2 + k) * 10 + j * 2 + z] = newDataArr[i * 5 + j]\n//                 // console.log(i + k, j + z)\n//             }\n//         }\n\n//         // newArr.push(Number((num / 4).toFixed(1)))\n//     }\n\n// }\n\n\n\nmsg.payload.backData=ndata;\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "1cdf9c61f588fd1a",
                "d428f11598f3526b"
            ]
        ]
    },
    {
        "id": "157984723e551b09",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向前移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3710,
        "y": 3300,
        "wires": [
            [
                "b5687cc679971f09"
            ]
        ]
    },
    {
        "id": "251f0bf67cebc318",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向后移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3690,
        "y": 3520,
        "wires": [
            [
                "44f1a095a0c75c37"
            ]
        ]
    },
    {
        "id": "e4b94da4e0f4f15c",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "console.info(\"controlingFlag: \"+controlingFlag)\nglobal.set(\"frontDownConditionCount\", 0);\n\nvar frontUpConditionCount= global.get(\"frontUpConditionCount\");\nfrontUpConditionCount++;\nglobal.set(\"frontUpConditionCount\", frontUpConditionCount);\n \nvar frontControlTime=global.get(\"frontControlTime\");\nconsole.info(\"frontControlTime: \" + global.get(\"frontControlTime\"));\n\n//向前移动的范围不超过6s\n//条件窗口为30帧连续判断\nconsole.info(\"frontDownControlTime: \" + frontControlTime);\nif (frontControlTime>-4000){\n    console.info(\"frontControlTime: \" + frontControlTime);\n    if (frontUpConditionCount > 30) {\n        msg.payload = 1;\n        global.set(\"frontUpConditionCount\", 0);\n\n        var controlingFlag = global.get(\"controlingFlag\");\n        \n        if (controlingFlag == 0) {\n            global.set(\"controlingFlag\", 1);\n            return msg;\n        }\n\n    }\n}\n\n \n\n\n \n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 3260,
        "wires": [
            [
                "e5e786b3cf8b3efb",
                "072e9a6de6d366ec",
                "ad92cc83605e164f"
            ]
        ]
    },
    {
        "id": "19c76b377dcaf54c",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "\nglobal.set(\"frontUpConditionCount\", 0);\n\nvar frontDownConditionCount = global.get(\"frontDownConditionCount\");\nfrontDownConditionCount++;\nglobal.set(\"frontDownConditionCount\", frontDownConditionCount);\n\n\nvar frontControlTime=global.get(\"frontControlTime\");\n\n//向后移动的范围不超过6s\n//条件窗口为30帧连续判断\nconsole.info(\"frontUpControlTime: \" + frontControlTime);\nif(frontControlTime<4000){\n    //条件窗口为30帧连续判断\n    if (frontDownConditionCount > 30) {\n        msg.payload = 1;\n        global.set(\"frontDownConditionCount\", 0);\n\n\n        var controlingFlag = global.get(\"controlingFlag\");\n        if (controlingFlag == 0) {\n            global.set(\"controlingFlag\", 1);\n            return msg;\n        }\n\n    }\n\n}   \n\n \n\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 3440,
        "wires": [
            [
                "fedd5531eb422989",
                "a346dfe4d445e05e",
                "aa07e2ec10769956"
            ]
        ]
    },
    {
        "id": "858618ba7d8aedd3",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3500,
        "y": 2660,
        "wires": []
    },
    {
        "id": "e5e786b3cf8b3efb",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3510,
        "y": 3300,
        "wires": [
            [
                "157984723e551b09"
            ]
        ]
    },
    {
        "id": "ef2cdfcec50234ec",
        "type": "serial in",
        "z": "23caab7f537e37b0",
        "name": "Serialport1",
        "serial": "3c48bdf53b96508a",
        "x": 495,
        "y": 160,
        "wires": [
            [
                "96bfd23f6af11a6e"
            ]
        ],
        "l": false
    },
    {
        "id": "b5687cc679971f09",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "global.set(\"controlingFlag\",0);\nvar frontControlTime=global.get(\"frontControlTime\");\nglobal.set(\"frontControlTime\",frontControlTime-2000);\nglobal.set(\"frontUpConditionCount\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3900,
        "y": 3300,
        "wires": [
            [
                "8159adf1fe0be847"
            ]
        ]
    },
    {
        "id": "44f1a095a0c75c37",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "global.set(\"controlingFlag\",0);\nvar frontControlTime = global.get(\"frontControlTime\");\nglobal.set(\"frontControlTime\", frontControlTime +2000);\nglobal.set(\"frontDownConditionCount\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3880,
        "y": 3520,
        "wires": [
            [
                "cac94a7895dc497f"
            ]
        ]
    },
    {
        "id": "fedd5531eb422989",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3490,
        "y": 3520,
        "wires": [
            [
                "251f0bf67cebc318"
            ]
        ]
    },
    {
        "id": "c85210cabdb19fe6",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3750,
        "y": 2720,
        "wires": [
            [
                "b7a3b5187db6b629"
            ]
        ]
    },
    {
        "id": "49eefdb6138996fe",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3510,
        "y": 2720,
        "wires": [
            [
                "c85210cabdb19fe6"
            ]
        ]
    },
    {
        "id": "b7a3b5187db6b629",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "global.set(\"controlingFlag\",0);\nvar hunchControlTime = global.get(\"hunchControlTime\");\nglobal.set(\"hunchControlTime\", hunchControlTime+2000);\nglobal.set(\"hunchUpConditionCount\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3920,
        "y": 2720,
        "wires": [
            [
                "553e2f2f42909e56"
            ]
        ]
    },
    {
        "id": "4e9a1bd26b17adfd",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3730,
        "y": 2200,
        "wires": [
            [
                "94e01c1661a674ed"
            ]
        ]
    },
    {
        "id": "cc8c795819132cd5",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "3000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3490,
        "y": 2200,
        "wires": [
            [
                "4e9a1bd26b17adfd"
            ]
        ]
    },
    {
        "id": "94e01c1661a674ed",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "global.set(\"controlingFlag\",0);\nvar hunchControlTime = global.get(\"hunchControlTime\");\nglobal.set(\"hunchControlTime\", hunchControlTime-2000);\nglobal.set(\"hunchDownConditionCount\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 2200,
        "wires": [
            [
                "99e7a3fa99425533"
            ]
        ]
    },
    {
        "id": "553e2f2f42909e56",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4140,
        "y": 2720,
        "wires": []
    },
    {
        "id": "99e7a3fa99425533",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4140,
        "y": 2200,
        "wires": []
    },
    {
        "id": "d428f11598f3526b",
        "type": "websocket out",
        "z": "23caab7f537e37b0",
        "name": "",
        "server": "f6ba5e13302a8f2d",
        "client": "",
        "x": 1300,
        "y": 380,
        "wires": []
    },
    {
        "id": "f43741ac300f6cf1",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "switch_waist",
        "property": "waistControlTime",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.3",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0.1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2510,
        "y": 500,
        "wires": [
            [
                "debe5af3bc8c240e"
            ],
            []
        ]
    },
    {
        "id": "98118aeba92e4aa7",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "switch_hunch(靠背归位)",
        "property": "hunchControlTime",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3230,
        "y": 260,
        "wires": [
            [
                "3b2a65f0b8abc030"
            ],
            [
                "3c266d87e575e87a"
            ]
        ]
    },
    {
        "id": "0e0a22f283d375d8",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "switch_front",
        "property": "frontControlTime",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4070,
        "y": 300,
        "wires": [
            [
                "305aa8af9241a37f"
            ],
            [
                "485d0add05a82b92"
            ]
        ]
    },
    {
        "id": "debe5af3bc8c240e",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "向后重置",
        "func": "\nmsg.delay = Math.abs(global.get(\"waistControlTime\"));\nmsg.payload=1;\nconsole.info(\"waist 重置\" + global.get(\"waistControlTime\"));\nglobal.set(\"waistControlTime\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 500,
        "wires": [
            [
                "0bcccd6d100510ed"
            ]
        ]
    },
    {
        "id": "3b2a65f0b8abc030",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "向后重置",
        "func": "msg.delay = Math.abs(global.get(\"hunchControlTime\"));\nmsg.payload = 1;\n\nglobal.set(\"hunchControlTime\", 0);\nconsole.info(\"hunch 重置\" + global.get(\"hunchControlTime\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 200,
        "wires": [
            [
                "bf9ec3c0d1e77755",
                "0991e4e7c7915dfc"
            ]
        ]
    },
    {
        "id": "3c266d87e575e87a",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "向前重置",
        "func": "msg.delay = Math.abs(global.get(\"hunchControlTime\"));\nmsg.payload = 1;\n\nglobal.set(\"hunchControlTime\", 0);\n\nconsole.info(\"hunch 重置\" + global.get(\"hunchControlTime\"));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 300,
        "wires": [
            [
                "a565fc9bc858c29f",
                "84620387fc1191d9"
            ]
        ]
    },
    {
        "id": "305aa8af9241a37f",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "向后重置",
        "func": "msg.delay = Math.abs(global.get(\"frontControlTime\"));\nmsg.payload = 1;\n\n\nconsole.info(\"front 重置\" + global.get(\"frontControlTime\"));\n\nglobal.set(\"frontControlTime\",0)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4260,
        "y": 200,
        "wires": [
            [
                "60a3cb13fca43cb8",
                "fc91c123f1ac8604",
                "2725fd1821a3bb17"
            ]
        ]
    },
    {
        "id": "485d0add05a82b92",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "向前重置",
        "func": "\nmsg.delay = Math.abs(global.get(\"frontControlTime\"));\nmsg.payload = 1;\n\n \n\n\nconsole.info(\"front 重置\" + global.get(\"frontControlTime\"));\nglobal.set(\"frontControlTime\", 0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4260,
        "y": 380,
        "wires": [
            [
                "4edaadb95fd7fe78",
                "a8faa4f78bde53b9"
            ]
        ]
    },
    {
        "id": "bf9ec3c0d1e77755",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3570,
        "y": 220,
        "wires": [
            [
                "fc6fb50dedc47a70"
            ]
        ]
    },
    {
        "id": "fc6fb50dedc47a70",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3790,
        "y": 220,
        "wires": [
            [
                "e4ca7a3db1ec5ab7",
                "0e0a22f283d375d8"
            ]
        ]
    },
    {
        "id": "a565fc9bc858c29f",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3570,
        "y": 380,
        "wires": [
            [
                "f389994c6d54ef3e"
            ]
        ]
    },
    {
        "id": "f389994c6d54ef3e",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3790,
        "y": 380,
        "wires": [
            [
                "02078b70d2c822eb",
                "0e0a22f283d375d8"
            ]
        ]
    },
    {
        "id": "60a3cb13fca43cb8",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4430,
        "y": 200,
        "wires": [
            [
                "1c3b03e332c55812"
            ]
        ]
    },
    {
        "id": "1c3b03e332c55812",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4650,
        "y": 200,
        "wires": [
            [
                "9409fa8d4e120a80"
            ]
        ]
    },
    {
        "id": "4edaadb95fd7fe78",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4450,
        "y": 440,
        "wires": [
            [
                "d81e1e33b5f3d2a3"
            ]
        ]
    },
    {
        "id": "d81e1e33b5f3d2a3",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4670,
        "y": 440,
        "wires": [
            [
                "37bc2193c32dd852"
            ]
        ]
    },
    {
        "id": "84620387fc1191d9",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3580,
        "y": 300,
        "wires": []
    },
    {
        "id": "02078b70d2c822eb",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4020,
        "y": 380,
        "wires": []
    },
    {
        "id": "0991e4e7c7915dfc",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3580,
        "y": 140,
        "wires": []
    },
    {
        "id": "e4ca7a3db1ec5ab7",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4020,
        "y": 220,
        "wires": []
    },
    {
        "id": "428dee1c77796a3c",
        "type": "inject",
        "z": "23caab7f537e37b0",
        "d": true,
        "name": "座椅初始化归位START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "delay",
                "v": "10000",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "e93381c17ddb34fd",
                "2f4f4f0c26b0ed3a"
            ]
        ]
    },
    {
        "id": "e93381c17ddb34fd",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "15a4834f21ffb1b2",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "f05b49db4b763c20",
                "f9e1cdbf3d746e3b",
                "ed92ed035bccc3bc"
            ]
        ]
    },
    {
        "id": "f05b49db4b763c20",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "3f205c044713940f",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "f9e1cdbf3d746e3b",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "14",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "d97e3bfcb251295e",
                "7439ca553e693c41"
            ]
        ]
    },
    {
        "id": "d97e3bfcb251295e",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "0207430b82c3bce4"
            ]
        ]
    },
    {
        "id": "0207430b82c3bce4",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1280,
        "y": 680,
        "wires": []
    },
    {
        "id": "2f4f4f0c26b0ed3a",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "15a4834f21ffb1b2"
            ]
        ]
    },
    {
        "id": "ed92ed035bccc3bc",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "置1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 560,
        "wires": [
            [
                "3f205c044713940f"
            ]
        ]
    },
    {
        "id": "6b1a8df7fedeaae5",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "eb6689ee9be8e3ee",
                "b1942351e2a9737f",
                "f4bdc2398301cd52"
            ]
        ]
    },
    {
        "id": "eb6689ee9be8e3ee",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 1020,
        "wires": [
            [
                "cabc1f217ade533e"
            ]
        ]
    },
    {
        "id": "cabc1f217ade533e",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1020,
        "wires": [
            [
                "e518f48563e0b626"
            ]
        ]
    },
    {
        "id": "9730731e11663592",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 900,
        "wires": [
            [
                "6b1a8df7fedeaae5"
            ]
        ]
    },
    {
        "id": "b1942351e2a9737f",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "置1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 900,
        "wires": [
            [
                "4e406e56242ed81b",
                "ced4cecda08a967e"
            ]
        ]
    },
    {
        "id": "0946894349cd6dc4",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 858,
        "y": 834,
        "wires": []
    },
    {
        "id": "f4bdc2398301cd52",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1220,
        "y": 800,
        "wires": []
    },
    {
        "id": "4e406e56242ed81b",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1400,
        "y": 900,
        "wires": []
    },
    {
        "id": "e518f48563e0b626",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1380,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7439ca553e693c41",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "0946894349cd6dc4",
                "9730731e11663592"
            ]
        ]
    },
    {
        "id": "916338bdc4906865",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "初始化座椅完成标识",
        "func": "//是否允许进行串口读去矩阵的标识  0-禁止读取  1-允许读取\nglobal.set(\"readFlag\",0);\n\n\nvar matrixCacheArr = Buffer.from([]);;\nglobal.set(\"matrixCacheArr\", matrixCacheArr);\n\nvar matrixCacheArr_back = Buffer.from([]);;\nglobal.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n//调节次序  \nglobal.set(\"controlNumber\",0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "96bfd23f6af11a6e",
                "7b925195e5ed571a",
                "2d72d39f917f04a6"
            ]
        ]
    },
    {
        "id": "ced4cecda08a967e",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "允许读写标识",
        "func": "global.set(\"readFlag\",1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "0dfb92980e6df6e4",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向前移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2830,
        "y": 1720,
        "wires": [
            [
                "0e8eb81696d7ab7f"
            ]
        ]
    },
    {
        "id": "2be67b42180b6e36",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2610,
        "y": 1720,
        "wires": [
            [
                "0dfb92980e6df6e4"
            ]
        ]
    },
    {
        "id": "0e8eb81696d7ab7f",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "\nvar frontControlTime=global.get(\"frontControlTime\");\nglobal.set(\"frontControlTime\",2000);\nconsole.info(\"起始调整frontControlTime: \" + frontControlTime + 2000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 1720,
        "wires": [
            [
                "db0724d2bc5e86cc",
                "162f9ede4e21056b",
                "ed2ee5d47caf2c79"
            ]
        ]
    },
    {
        "id": "1c634b3f87d264af",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2600,
        "y": 1640,
        "wires": []
    },
    {
        "id": "db0724d2bc5e86cc",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向前",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3220,
        "y": 1720,
        "wires": []
    },
    {
        "id": "6f2924dddd1fc24d",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "靠背坐垫调整",
        "func": " \nvar controlingFlag = global.get(\"controlingFlag\");\n\nif (controlingFlag==0){\n    global.set(\"controlingFlag\", 1);\n    console.info(\"靠背坐垫开始调整\");\n    msg.payload=1;\n    return msg;\n}\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 1680,
        "wires": [
            [
                "1c634b3f87d264af",
                "2be67b42180b6e36"
            ]
        ]
    },
    {
        "id": "012efafc21be045b",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "并发调整",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 2240,
        "wires": [
            [
                "d4514e8011fae40f",
                "5f717a82896161e6"
            ]
        ]
    },
    {
        "id": "94d0d8f3c315f574",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "座椅部位调整次序",
        "func": "var controlNumber =global.get(\"controlNumber\");\n\n\n\nmsg.controlNumber = controlNumber;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 2200,
        "wires": [
            [
                "9c8b5ecd4c3165ed"
            ]
        ]
    },
    {
        "id": "9c8b5ecd4c3165ed",
        "type": "switch",
        "z": "23caab7f537e37b0",
        "name": "",
        "property": "controlNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2170,
        "y": 2200,
        "wires": [
            [
                "6f2924dddd1fc24d"
            ],
            [
                "ad98cb3ba794f334"
            ],
            [
                "6138d1c8ed4eb445"
            ],
            [
                "012efafc21be045b"
            ]
        ]
    },
    {
        "id": "10b561917ba9adea",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3380,
        "y": 1600,
        "wires": []
    },
    {
        "id": "162f9ede4e21056b",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3290,
        "y": 1660,
        "wires": [
            [
                "f68ad5323d7223ee"
            ]
        ]
    },
    {
        "id": "f68ad5323d7223ee",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "重置控制标识",
        "func": "\nvar hunchControlTime = global.get(\"hunchControlTime\");\nglobal.set(\"hunchControlTime\", 1500);\nconsole.info(\"迎宾hunchControlTime:\"+hunchControlTime);\nglobal.set(\"hunchUpConditionCount\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3660,
        "y": 1660,
        "wires": [
            [
                "35f136471196d736",
                "cdd90321234ee2cc"
            ]
        ]
    },
    {
        "id": "35f136471196d736",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向前",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3860,
        "y": 1660,
        "wires": []
    },
    {
        "id": "d1b5e54c877259b7",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "更改调整次序",
        "func": "global.set(\"controlNumber\",1);\nglobal.set(\"controlingFlag\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3960,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "ad98cb3ba794f334",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "坐垫角度调整",
        "func": "var controlingFlag = global.get(\"controlingFlag\");\nif (controlingFlag==0){\n    global.set(\"controlingFlag\",1);\n    console.info(\"坐垫角度调整\");\n    msg.payload = 1;\n     \n    return msg;\n}\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 1820,
        "wires": [
            [
                "e5a7d6af13ca37f1",
                "89136e3f72a7fe80"
            ]
        ]
    },
    {
        "id": "6138d1c8ed4eb445",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "腰托调整",
        "func": "var controlingFlag = global.get(\"controlingFlag\");\nif (controlingFlag==0){\n\n\n    var ndata = global.get(\"backMatrixData\");\n    var topSum = 0, bottomSum = 0;\n    for (var i = 0; i < 50; i++) {\n        topSum += ndata[i];\n    }\n    for (var i = 50; i < 100; i++) {\n        bottomSum += ndata[i];\n    }\n    console.info(\n        \"topSum :\" + topSum +\n        \"  bottomSum :\" + bottomSum\n    )\n    var hunch = (topSum / bottomSum);\n    if(hunch<0.55){\n        global.set(\"personType\",0);\n    }else{\n        global.set(\"personType\", 1);\n    }\n\n\n    global.set(\"controlingFlag\",1);\n    console.info(\"腰托调整\");\n    msg.payload = 1;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 1980,
        "wires": [
            [
                "4ce0aa02818ed88c"
            ]
        ]
    },
    {
        "id": "e5a7d6af13ca37f1",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2660,
        "y": 1780,
        "wires": []
    },
    {
        "id": "89136e3f72a7fe80",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2650,
        "y": 1840,
        "wires": [
            [
                "3691f3183a70c6ee"
            ]
        ]
    },
    {
        "id": "3691f3183a70c6ee",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向前移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2830,
        "y": 1840,
        "wires": [
            [
                "b9688c1801d06cba",
                "7adba73a11142ecf"
            ]
        ]
    },
    {
        "id": "b9688c1801d06cba",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3040,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4ce0aa02818ed88c",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "气囊充气",
        "func": "\n\n\nvar waistControlTime = global.get(\"waistControlTime\");\nglobal.set(\"waistControlTime\",   2000);\nglobal.set(\"waistUpConditionCount\", 0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2640,
        "y": 1980,
        "wires": [
            [
                "fa5e7a4f53e4d1ab"
            ]
        ]
    },
    {
        "id": "2d72d39f917f04a6",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "允许读写标识",
        "func": "global.set(\"readFlag\",1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2ee5d47caf2c79",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向下移动置1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3170,
        "y": 1600,
        "wires": [
            [
                "10b561917ba9adea"
            ]
        ]
    },
    {
        "id": "cdd90321234ee2cc",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3810,
        "y": 1600,
        "wires": [
            [
                "d1b5e54c877259b7"
            ]
        ]
    },
    {
        "id": "7adba73a11142ecf",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2960,
        "y": 1780,
        "wires": [
            [
                "3afc712d243c8a3c"
            ]
        ]
    },
    {
        "id": "0bcccd6d100510ed",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "3",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 2910,
        "y": 500,
        "wires": [
            [],
            [
                "1e64ea523faf5db6"
            ]
        ]
    },
    {
        "id": "1e64ea523faf5db6",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "靠背气囊放气",
        "func": "var delimiter = Buffer.from([0x05, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x20]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 480,
        "wires": [
            [
                "17f6db41c15ccb15",
                "f3adba7f0c703be7"
            ]
        ]
    },
    {
        "id": "17f6db41c15ccb15",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3310,
        "y": 520,
        "wires": [
            [
                "0bcccd6d100510ed"
            ]
        ]
    },
    {
        "id": "f3adba7f0c703be7",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 3310,
        "y": 460,
        "wires": []
    },
    {
        "id": "fa5e7a4f53e4d1ab",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 2870,
        "y": 1980,
        "wires": [
            [
                "a07d1d2c7808e8e2"
            ],
            [
                "790dbe7916733588"
            ]
        ]
    },
    {
        "id": "790dbe7916733588",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "靠背气囊充气",
        "func": "var personType=global.get(\"personType\");\nif(personType==0){\n    var delimiter = Buffer.from([0x05, 0x15, 0x25, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}else{\n    var delimiter = Buffer.from([0x05, 0x15, 0x30, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 1960,
        "wires": [
            [
                "ab62d5ea532e55a4",
                "2d5c8a6bdc8ac14b"
            ]
        ]
    },
    {
        "id": "ab62d5ea532e55a4",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3290,
        "y": 2000,
        "wires": [
            [
                "fa5e7a4f53e4d1ab"
            ]
        ]
    },
    {
        "id": "2d5c8a6bdc8ac14b",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 3290,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a07d1d2c7808e8e2",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "更改次序",
        "func": "global.set(\"controlNumber\",3);\nglobal.set(\"controlingFlag\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2980,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "ad92cc83605e164f",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "3",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 3650,
        "y": 3240,
        "wires": [
            [],
            [
                "a926af1bd1a8d979"
            ]
        ]
    },
    {
        "id": "a926af1bd1a8d979",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 3220,
        "wires": [
            [
                "e5233485ba5230af",
                "1fc074a45995accd"
            ]
        ]
    },
    {
        "id": "e5233485ba5230af",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4070,
        "y": 3260,
        "wires": [
            [
                "ad92cc83605e164f"
            ]
        ]
    },
    {
        "id": "1fc074a45995accd",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 4070,
        "y": 3200,
        "wires": []
    },
    {
        "id": "aa07e2ec10769956",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 3650,
        "y": 3460,
        "wires": [
            [],
            [
                "80486e9daa88fc55"
            ]
        ]
    },
    {
        "id": "80486e9daa88fc55",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "坐垫气囊充气",
        "func": "var delimiter = Buffer.from([0x07, 0x64, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 3440,
        "wires": [
            [
                "25e6507bea8f6a4c",
                "415cbea78183fc3f"
            ]
        ]
    },
    {
        "id": "25e6507bea8f6a4c",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4070,
        "y": 3480,
        "wires": [
            [
                "aa07e2ec10769956"
            ]
        ]
    },
    {
        "id": "415cbea78183fc3f",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 4070,
        "y": 3420,
        "wires": []
    },
    {
        "id": "72d86e8b390fc3a8",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "2",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 3470,
        "y": 2360,
        "wires": [
            [
                "8f980dca4bc36de8"
            ],
            [
                "81f1fbc6f552bef5"
            ]
        ]
    },
    {
        "id": "81f1fbc6f552bef5",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "靠背气囊充气",
        "func": "var personType = global.get(\"personType\");\nif(personType==0){\n    var delimiter = Buffer.from([0x05, 0x20, 0x30, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}else{\n    var delimiter = Buffer.from([0x05, 0x20, 0x35, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 2360,
        "wires": [
            [
                "ae3a72bd493f1885",
                "574f16645d59900f"
            ]
        ]
    },
    {
        "id": "ae3a72bd493f1885",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3870,
        "y": 2400,
        "wires": [
            [
                "72d86e8b390fc3a8"
            ]
        ]
    },
    {
        "id": "574f16645d59900f",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 3890,
        "y": 2300,
        "wires": []
    },
    {
        "id": "fc91c123f1ac8604",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4440,
        "y": 140,
        "wires": []
    },
    {
        "id": "9409fa8d4e120a80",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4920,
        "y": 200,
        "wires": []
    },
    {
        "id": "a8faa4f78bde53b9",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4460,
        "y": 380,
        "wires": []
    },
    {
        "id": "37bc2193c32dd852",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4900,
        "y": 440,
        "wires": []
    },
    {
        "id": "2725fd1821a3bb17",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "3",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 4490,
        "y": 300,
        "wires": [
            [],
            [
                "9668bdd8928f6acf"
            ]
        ]
    },
    {
        "id": "9668bdd8928f6acf",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "坐垫气囊放气",
        "func": "var delimiter = Buffer.from([0x07, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4700,
        "y": 280,
        "wires": [
            [
                "81a4adc44dce14c3",
                "61c54c8a9b6c801d"
            ]
        ]
    },
    {
        "id": "81a4adc44dce14c3",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4910,
        "y": 320,
        "wires": [
            [
                "2725fd1821a3bb17"
            ]
        ]
    },
    {
        "id": "61c54c8a9b6c801d",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 4910,
        "y": 260,
        "wires": []
    },
    {
        "id": "3afc712d243c8a3c",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "5",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 3330,
        "y": 1800,
        "wires": [
            [
                "45b6743308bfb5ce"
            ],
            [
                "8cc56334995d67d1"
            ]
        ]
    },
    {
        "id": "8cc56334995d67d1",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "坐垫气囊充气",
        "func": "var delimiter = Buffer.from([0x07, 0x64, 0x64, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x15]);\nmsg.payload = delimiter;\nconsole.info(msg.payload)\nconsole.info(111)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3540,
        "y": 1780,
        "wires": [
            [
                "a575682843d89d21",
                "4fb2b276b825e2f2"
            ]
        ]
    },
    {
        "id": "a575682843d89d21",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3750,
        "y": 1820,
        "wires": [
            [
                "3afc712d243c8a3c"
            ]
        ]
    },
    {
        "id": "4fb2b276b825e2f2",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 3750,
        "y": 1760,
        "wires": []
    },
    {
        "id": "45b6743308bfb5ce",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "更改次序",
        "func": "var frontControlTime = global.get(\"frontControlTime\");\nglobal.set(\"frontControlTime\",   2000);\n\nglobal.set(\"controlNumber\",2);\nglobal.set(\"controlingFlag\",0);\nconsole.info(\"坐垫角度调整\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3500,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "f9fe261fbad238aa",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "向前移动置0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3030,
        "y": 140,
        "wires": [
            [
                "bacc3d51419628a3",
                "98118aeba92e4aa7"
            ]
        ]
    },
    {
        "id": "3d9c038896ef3ac8",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2870,
        "y": 140,
        "wires": [
            [
                "f9fe261fbad238aa"
            ]
        ]
    },
    {
        "id": "1f63df31dd36ca8e",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2860,
        "y": 80,
        "wires": []
    },
    {
        "id": "bacc3d51419628a3",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "坐垫向后",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3200,
        "y": 120,
        "wires": []
    },
    {
        "id": "8389342d3ac68bc1",
        "type": "change",
        "z": "23caab7f537e37b0",
        "name": "坐垫归位",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2660,
        "y": 120,
        "wires": [
            [
                "1f63df31dd36ca8e",
                "3d9c038896ef3ac8"
            ]
        ]
    },
    {
        "id": "a346dfe4d445e05e",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3500,
        "y": 3400,
        "wires": []
    },
    {
        "id": "cac94a7895dc497f",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅前上移动",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4140,
        "y": 3520,
        "wires": []
    },
    {
        "id": "072e9a6de6d366ec",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3500,
        "y": 3200,
        "wires": []
    },
    {
        "id": "8159adf1fe0be847",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "座椅向下移动",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 4145,
        "y": 3303.75,
        "wires": []
    },
    {
        "id": "39a2727a83b5d2ac",
        "type": "rpi-gpio out",
        "z": "23caab7f537e37b0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3480,
        "y": 2120,
        "wires": []
    },
    {
        "id": "374c70e34c7aee0a",
        "type": "loop",
        "z": "23caab7f537e37b0",
        "name": "",
        "kind": "fcnt",
        "count": "2",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 3470,
        "y": 2520,
        "wires": [
            [
                "cd1e1fb7363da668"
            ],
            [
                "bc5d617ef033e447"
            ]
        ]
    },
    {
        "id": "bc5d617ef033e447",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "靠背气囊充气",
        "func": "var personType = global.get(\"personType\");\n\nif(personType==0){\n    var delimiter = Buffer.from([0x05, 0x10, 0x20, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}else{\n    var delimiter = Buffer.from([0x05, 0x10, 0x25, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x40]);\n    msg.payload = delimiter;\n    console.info(msg.payload)\n    console.info(111)\n    return msg;\n}\n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 2520,
        "wires": [
            [
                "8e36f9e264c71de0",
                "d8d2d3c522f699a5"
            ]
        ]
    },
    {
        "id": "8e36f9e264c71de0",
        "type": "delay",
        "z": "23caab7f537e37b0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3870,
        "y": 2560,
        "wires": [
            [
                "374c70e34c7aee0a"
            ]
        ]
    },
    {
        "id": "d8d2d3c522f699a5",
        "type": "serial out",
        "z": "23caab7f537e37b0",
        "name": "",
        "serial": "deba420c25236b68",
        "x": 3890,
        "y": 2460,
        "wires": []
    },
    {
        "id": "4349ed56e6516c2d",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "    \nglobal.set(\"hunchBagUpConditionCount\", 0);\n\nvar hunchBagDownConditionCount = global.get(\"hunchBagDownConditionCount\");\nhunchBagDownConditionCount++;\nglobal.set(\"hunchBagDownConditionCount\", hunchBagDownConditionCount);\n\n \n \nconsole.info(\"hunchBagDownConditionCount: \" + hunchBagDownConditionCount)\n//移动的范围不超过6s\n//条件窗口为30帧连续判断\n\n//if (hunchControlTime >- 6000) {\n    //条件窗口为30帧连续判断\n    if (hunchBagDownConditionCount > 30) {\n        msg.payload = 1;\n        global.set(\"hunchBagDownConditionCount\", 0);\n\n        var controlingFlag = global.get(\"controlingFlag\");\n        if (controlingFlag == 0) {\n            global.set(\"controlingFlag\", 1);\n            return msg;\n        }\n    }\n\n//}\n\n \n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 2400,
        "wires": [
            [
                "72d86e8b390fc3a8"
            ]
        ]
    },
    {
        "id": "dec9cd6694ec9452",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "条件窗口",
        "func": "\nglobal.set(\"hunchBagUpConditionCount\", 0);\n\nvar hunchBagDownConditionCount = global.get(\"hunchBagDownConditionCount\");\nhunchBagDownConditionCount++;\nglobal.set(\"hunchBagDownConditionCount\", hunchBagDownConditionCount);\n\n \n \nconsole.info(\"hunchBagDownConditionCount: \" + hunchBagDownConditionCount)\n//移动的范围不超过6s\n//条件窗口为30帧连续判断\nconsole.info();\n \n//条件窗口为30帧连续判断\nif (hunchBagDownConditionCount > 30) {\n    msg.payload = 1;\n    global.set(\"hunchBagDownConditionCount\", 0);\n\n    var controlingFlag = global.get(\"controlingFlag\");\n    if (controlingFlag == 0) {\n        global.set(\"controlingFlag\", 1);\n        return msg;\n    }\n}\n\n \n\n \n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 2480,
        "wires": [
            [
                "374c70e34c7aee0a"
            ]
        ]
    },
    {
        "id": "8f980dca4bc36de8",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "function 5",
        "func": "global.set(\"controlingFlag\", 0);\nglobal.set(\"hunchBagDownConditionCount\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3640,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1e1fb7363da668",
        "type": "function",
        "z": "23caab7f537e37b0",
        "name": "function 6",
        "func": "global.set(\"controlingFlag\", 0);\nglobal.set(\"hunchBagDownConditionCount\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3660,
        "y": 2460,
        "wires": [
            []
        ]
    }
]