flows.json
[
    {
        "id": "a5e559706e7cb5f0",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3bf60d007153332",
        "type": "serial in",
        "z": "a5e559706e7cb5f0",
        "name": "Serialport1",
        "serial": "193f9130dc45f976",
        "x": 375,
        "y": 100,
        "wires": [
            [
                "e574ffa6046aeaf6"
            ]
        ],
        "l": false
    },
    {
        "id": "e574ffa6046aeaf6",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "sitParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\n\nvar matrixCacheArr =  global.get(\"matrixCacheArr\");\n \n \nmatrixCacheArr = Buffer.concat([matrixCacheArr, Buffer.from(msg.payload)])\n  \nvar index = matrixCacheArr.indexOf(delimiter,0);\n \nif(index==-1){\n    \n    global.set(\"matrixCacheArr\", matrixCacheArr);\n}else {\n      \n      \n    var front=matrixCacheArr.slice(0,index);\n   \n    matrixCacheArr=matrixCacheArr.slice(index+delimiter.length);\n    global.set(\"matrixCacheArr\", matrixCacheArr);\n    msg.payload =front;\n    return msg;\n}\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "f27ac10ac9f73574"
            ]
        ]
    },
    {
        "id": "ccd478e7d021929b",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "4b7b69f759586071"
            ]
        ]
    },
    {
        "id": "4b7b69f759586071",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "Sit Global Variable",
        "func": " \n\nvar matrixCacheArr = Buffer.from([]);; \n \n\nglobal.set(\"matrixCacheArr\", matrixCacheArr);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "e574ffa6046aeaf6"
            ]
        ]
    },
    {
        "id": "f27ac10ac9f73574",
        "type": "buffer-parser",
        "z": "a5e559706e7cb5f0",
        "name": "sitDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "sitData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "4a5b34c980448aa6",
                "ccd34a8eb8d66d8b"
            ]
        ]
    },
    {
        "id": "43b83d05b488bcc7",
        "type": "serial in",
        "z": "a5e559706e7cb5f0",
        "name": "Serialport0",
        "serial": "3c48bdf53b96508a",
        "x": 385,
        "y": 260,
        "wires": [
            [
                "700e518d653bfae4"
            ]
        ],
        "l": false
    },
    {
        "id": "700e518d653bfae4",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "backParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\n\nvar matrixCacheArr_back = global.get(\"matrixCacheArr_back\");\n \n \nmatrixCacheArr_back = Buffer.concat([matrixCacheArr_back, Buffer.from(msg.payload)])\n  \nvar index = matrixCacheArr_back.indexOf(delimiter,0);\n \nif(index==-1){\n    \n    global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n}else {\n      \n      \n    var front = matrixCacheArr_back.slice(0,index);\n   \n    matrixCacheArr_back = matrixCacheArr_back.slice(index+delimiter.length);\n    global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n    msg.payload =front;\n    return msg;\n}\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "7db326b71730eca9"
            ]
        ]
    },
    {
        "id": "8e31a4d06b351f40",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "5247aed29fd33654"
            ]
        ]
    },
    {
        "id": "5247aed29fd33654",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "Back Global Variable",
        "func": " \n\nvar matrixCacheArr_back = Buffer.from([]);; \n \n\nglobal.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "700e518d653bfae4"
            ]
        ]
    },
    {
        "id": "7db326b71730eca9",
        "type": "buffer-parser",
        "z": "a5e559706e7cb5f0",
        "name": "backDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "backData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "ccd34a8eb8d66d8b",
                "4a5b34c980448aa6"
            ]
        ]
    },
    {
        "id": "ccd34a8eb8d66d8b",
        "type": "websocket out",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "server": "a61959c5fb2aafc9",
        "client": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a5b34c980448aa6",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "function 1",
        "func": "// 汽车座椅的使用逻辑\nif (msg.payload.sitData!=null){\n    global.set(\"sitMatrixData\", msg.payload.sitData);\n   \n   \n}\nif (msg.payload.backData != null) {\n    global.set(\"backMatrixData\", msg.payload.sitData);\n}\n\n\nconst sitMatrixSum = global.get(\"sitMatrixData\").reduce((accumulator, currentValue) => {\n    return accumulator + currentValue;\n}, 0);\n \nmsg.payload = sitMatrixSum;\nconsole.info(\"matrix sum: \"+msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 260,
        "wires": [
            [
                "6025ba9778f19115"
            ]
        ]
    },
    {
        "id": "7901771c401332c8",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "座椅初始化归位START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "ae14a7c744f47ae5"
            ]
        ]
    },
    {
        "id": "ae14a7c744f47ae5",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 440,
        "y": 600,
        "wires": []
    },
    {
        "id": "dd0be2da08bf6b71",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "座椅初始化归位END",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "f52ee1819d67ba2d"
            ]
        ]
    },
    {
        "id": "f52ee1819d67ba2d",
        "type": "delay",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "4e72a6984c6a9a75"
            ]
        ]
    },
    {
        "id": "4e72a6984c6a9a75",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "2f24d2c2d035ace6",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "气囊缩小",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "9f72f0c6dbe6fa9c",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "气囊初始化归位START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "2f24d2c2d035ace6"
            ]
        ]
    },
    {
        "id": "42ec767a72b63451",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "气囊初始化归位END",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "d53438b2b085b7b7"
            ]
        ]
    },
    {
        "id": "d53438b2b085b7b7",
        "type": "delay",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 680,
        "wires": [
            [
                "a77ff4623da26df2"
            ]
        ]
    },
    {
        "id": "a77ff4623da26df2",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "气囊缩小",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "08c76af1810059fa",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "realTimeMatrix",
        "func": "//设置全局变量 保存坐垫及靠背的实时矩阵数据\nvar sitMatrixData=new Array();\n\nvar backMatrixData=new Array();\n\nglobal.set(\"sitMatrixData\", sitMatrixData);\n\nglobal.set(\"backMatrixData\", backMatrixData);\n\nglobal.set(\"onSeatCount\",0);\nglobal.set(\"notSeatCount\",0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "4a5b34c980448aa6"
            ]
        ]
    },
    {
        "id": "3c1d79441b9afabf",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "矩阵处理GlobalVariable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 120,
        "wires": [
            [
                "08c76af1810059fa"
            ]
        ]
    },
    {
        "id": "6025ba9778f19115",
        "type": "switch",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "7000",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "7000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 260,
        "wires": [
            [
                "e7ea2962da9cef23"
            ],
            [
                "b073684821be08be"
            ]
        ]
    },
    {
        "id": "b073684821be08be",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "在座次数逻辑处理",
        "func": "var onSeatCount = global.get(\"onSeatCount\");\nvar notSeatCount = global.get(\"notSeatCount\");\n\nnotSeatCount=0;\nglobal.set(\"notSeatCount\", notSeatCount);\n\nonSeatCount++;\nglobal.set(\"onSeatCount\", onSeatCount);\n\nmsg.payload = onSeatCount;\n\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 340,
        "wires": [
            [
                "2104c19f63dd7d40"
            ]
        ]
    },
    {
        "id": "e7ea2962da9cef23",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "离坐次数逻辑处理",
        "func": "var onSeatCount = global.get(\"onSeatCount\");\nvar notSeatCount = global.get(\"notSeatCount\");\n\nonSeatCount = 0;\nglobal.set(\"onSeatCount\", onSeatCount);\n\nnotSeatCount++;\nglobal.set(\"notSeatCount\", notSeatCount);\n\nmsg.payload = notSeatCount;\n \n\nreturn msg; \n \n\n\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 180,
        "wires": [
            [
                "8d26d930144cd345"
            ]
        ]
    },
    {
        "id": "2104c19f63dd7d40",
        "type": "switch",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1810,
        "y": 340,
        "wires": [
            [
                "664dcab58f2d6946",
                "e6f6075202993b83"
            ]
        ]
    },
    {
        "id": "664dcab58f2d6946",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "BackActionTrigger",
        "func": "console.info(\"在座次数\" + msg.payload);\n// var ndata =global.get(\"backMatrixData\");\n\nmsg.payload=1;\n\n \n\n\n// var num1 = 0, num2 = 0, num3 = 0;\n// for (var i = 0; i < 10; i++) {\n//     ndata[i * 10 + 0] = ndata[i * 10 + 1];\n//     ndata[i * 10 + 9] = ndata[i * 10 + 8];\n// }\n// for (var i = 0; i < 29; i++) {\n//     num1 += ndata[i];\n// }\n// for (var i = 29; i < 69; i++) {\n//     num2 += ndata[i];\n// }\n// for (var i = 69; i < 99; i++) {\n//     num3 += ndata[i];\n// }\n// //靠背上部求和平均\n// num1 = num1 / 30;\n// //靠背中部求和平均\n// num2 = num2 / 40;\n// //靠背下部求和平均\n// num3 = num3 / 30;\n// var sumBack = num1 + num2 + num3;\n// var waist = num1 / sumBack;\n// var hunch = (num2 + num3) / sumBack;\n// var back = num3 / num2;\n\n// console.info(\"sumBack:\" + sumBack);\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 340,
        "wires": [
            [
                "b0cf2e1ee652e3e1"
            ]
        ]
    },
    {
        "id": "8d26d930144cd345",
        "type": "switch",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1810,
        "y": 180,
        "wires": [
            [
                "20db88bc931ab39a"
            ]
        ]
    },
    {
        "id": "20db88bc931ab39a",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "离坐动作触发",
        "func": "console.info(\"离坐次数: \" + msg.payload);\nmsg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 180,
        "wires": [
            [
                "f7869c6c2db5852c"
            ]
        ]
    },
    {
        "id": "e6f6075202993b83",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "SitActionTrigger",
        "func": "\nmsg.payload = 1;\n\n// var ndata1 = global.get(\"sitMatrixData\");\n\n\n// var num11 = 0, num21 = 0, num31 = 0, num41 = 0, num51 = 0, num61 = 0;\n\n// for (var i = 0; i < 3; i++) {\n//     for (var j = 0; j < 5; j++) {\n//         num11 += ndata1[10 * i + j];\n//     }\n// }\n\n// for (var i = 0; i < 3; i++) {\n//     for (int j = 5; j < 10; j++) {\n//         num21 += ndata1[10 * i + j];\n//     }\n// }\n\n// for (var i = 3; i < 7; i++) {\n//     for (var j = 0; j < 5; j++) {\n//         num31 += ndata1[10 * i + j];\n//     }\n// }\n\n// for (var i = 3; i < 7; i++) {\n//     for (var j = 5; j < 10; j++) {\n//         num41 += ndata1[10 * i + j];\n//     }\n// }\n\n// for (var i = 7; i < 10; i++) {\n//     for (var j = 0; j < 5; j++) {\n//         num51 += ndata1[10 * i + j];\n//     }\n// }\n// for (var i = 7; i < 10; i++) {\n//     for (var j = 5; j < 10; j++) {\n//         num61 += ndata1[10 * i + j];\n//     }\n// }\n// num11 = num11 / 15;\n// num21 = num21 / 15;\n// num31 = num31 / 20;\n// num41 = num41 / 20;\n// num51 = num51 / 15;\n// num61 = num61 / 15;\n// var sumSit = num11 + num21 + num31 + num41 + num51 + num61;\n// var frontleg = (num11 + num21) / sumSit;\n// var backleg = 1 - frontleg;\n// var front = (num11 + num21 + num31 + num41) / sumSit;\n// //前腿支撑\n// frontleg = (num11 + num21) / sumSit;\n// //前腿支撑\n// backleg = 1 - frontleg;\n// //靠前\n// front = (num11 + num21 + num31 + num41) / sumSit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 440,
        "wires": [
            [
                "6fb2f824d87cfc53"
            ]
        ]
    },
    {
        "id": "f7869c6c2db5852c",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2220,
        "y": 180,
        "wires": []
    },
    {
        "id": "b0cf2e1ee652e3e1",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2220,
        "y": 340,
        "wires": []
    },
    {
        "id": "6fb2f824d87cfc53",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2220,
        "y": 440,
        "wires": []
    },
    {
        "id": "193f9130dc45f976",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": " "
    },
    {
        "id": "3c48bdf53b96508a",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": ""
    },
    {
        "id": "a61959c5fb2aafc9",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    }
]