serialport_8-10.json
[
    {
        "id": "a5e559706e7cb5f0",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3bf60d007153332",
        "type": "serial in",
        "z": "a5e559706e7cb5f0",
        "name": "Serialport1",
        "serial": "193f9130dc45f976",
        "x": 455,
        "y": 40,
        "wires": [
            [
                "e574ffa6046aeaf6"
            ]
        ],
        "l": false
    },
    {
        "id": "e574ffa6046aeaf6",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "sitParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\n\nvar matrixCacheArr =  global.get(\"matrixCacheArr\");\n \n \nmatrixCacheArr = Buffer.concat([matrixCacheArr, Buffer.from(msg.payload)])\n  \nvar index = matrixCacheArr.indexOf(delimiter,0);\n \nif(index==-1){\n    \n    global.set(\"matrixCacheArr\", matrixCacheArr);\n}else {\n      \n      \n    var front=matrixCacheArr.slice(0,index);\n   \n    matrixCacheArr=matrixCacheArr.slice(index+delimiter.length);\n    global.set(\"matrixCacheArr\", matrixCacheArr);\n    msg.payload =front;\n    return msg;\n}\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            [
                "f27ac10ac9f73574"
            ]
        ]
    },
    {
        "id": "ccd478e7d021929b",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "4b7b69f759586071"
            ]
        ]
    },
    {
        "id": "4b7b69f759586071",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "Sit Global Variable",
        "func": " \n\nvar matrixCacheArr = Buffer.from([]);; \n \n\nglobal.set(\"matrixCacheArr\", matrixCacheArr);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "e574ffa6046aeaf6"
            ]
        ]
    },
    {
        "id": "f27ac10ac9f73574",
        "type": "buffer-parser",
        "z": "a5e559706e7cb5f0",
        "name": "sitDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "sitData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 100,
        "wires": [
            [
                "5d770981a1b0f19d",
                "4a5b34c980448aa6"
            ]
        ]
    },
    {
        "id": "5d770981a1b0f19d",
        "type": "websocket out",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "server": "a61959c5fb2aafc9",
        "client": "",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "43b83d05b488bcc7",
        "type": "serial in",
        "z": "a5e559706e7cb5f0",
        "name": "Serialport0",
        "serial": "3c48bdf53b96508a",
        "x": 445,
        "y": 160,
        "wires": [
            [
                "700e518d653bfae4"
            ]
        ],
        "l": false
    },
    {
        "id": "700e518d653bfae4",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "backParser",
        "func": "var delimiter = Buffer.from([0xAA, 0x55, 0x03, 0x99]);\n//1.取出缓存中的矩阵数组\n//2.把读取的数据 放进缓存的数据 并检索 分隔符\n//3.如果为1  切割出前一部分 如果-1  缓存进数组 放进全局变量\n//  如果为-1 把切割剩余的部分 放进缓存\n\nvar matrixCacheArr_back = global.get(\"matrixCacheArr_back\");\n \n \nmatrixCacheArr_back = Buffer.concat([matrixCacheArr_back, Buffer.from(msg.payload)])\n  \nvar index = matrixCacheArr_back.indexOf(delimiter,0);\n \nif(index==-1){\n    \n    global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n}else {\n      \n      \n    var front = matrixCacheArr_back.slice(0,index);\n   \n    matrixCacheArr_back = matrixCacheArr_back.slice(index+delimiter.length);\n    global.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n    msg.payload =front;\n    return msg;\n}\n \n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "7db326b71730eca9"
            ]
        ]
    },
    {
        "id": "8e31a4d06b351f40",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "5247aed29fd33654"
            ]
        ]
    },
    {
        "id": "5247aed29fd33654",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "Back Global Variable",
        "func": " \n\nvar matrixCacheArr_back = Buffer.from([]);; \n \n\nglobal.set(\"matrixCacheArr_back\", matrixCacheArr_back);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "700e518d653bfae4"
            ]
        ]
    },
    {
        "id": "7db326b71730eca9",
        "type": "buffer-parser",
        "z": "a5e559706e7cb5f0",
        "name": "backDataParser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint8",
                "name": "backData",
                "offset": 0,
                "length": 1024,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "ccd34a8eb8d66d8b",
                "4a5b34c980448aa6"
            ]
        ]
    },
    {
        "id": "ccd34a8eb8d66d8b",
        "type": "websocket out",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "server": "a61959c5fb2aafc9",
        "client": "",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a5b34c980448aa6",
        "type": "function",
        "z": "a5e559706e7cb5f0",
        "name": "function 1",
        "func": "// 汽车座椅的使用逻辑\n\n// console.info(JSON.stringify(msg.payload));\n// var rcvData = JSON.parse(msg.payload);\nif (msg.payload.sitData!=null){\n    //console.info(\"坐垫数据\" + JSON.stringify(msg.payload));\n    for(var i=0;i<msg.payload.sitData.length;i++){\n       // console.info(msg.payload.sitData[i]);\n    }\n}\nif (msg.payload.backData != null) {\n    //console.info(\"靠背数据\" + JSON.stringify(msg.payload));\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7901771c401332c8",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "座椅初始化归位START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "ae14a7c744f47ae5"
            ]
        ]
    },
    {
        "id": "ae14a7c744f47ae5",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "dd0be2da08bf6b71",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "座椅初始化归位END",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "f52ee1819d67ba2d"
            ]
        ]
    },
    {
        "id": "f52ee1819d67ba2d",
        "type": "delay",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "4e72a6984c6a9a75"
            ]
        ]
    },
    {
        "id": "4e72a6984c6a9a75",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f24d2c2d035ace6",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "气囊缩小",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "9f72f0c6dbe6fa9c",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "气囊初始化归位START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "2f24d2c2d035ace6"
            ]
        ]
    },
    {
        "id": "42ec767a72b63451",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "气囊初始化归位END",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "d53438b2b085b7b7"
            ]
        ]
    },
    {
        "id": "d53438b2b085b7b7",
        "type": "delay",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "a77ff4623da26df2"
            ]
        ]
    },
    {
        "id": "a77ff4623da26df2",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "气囊缩小",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "a5db26011dc13e01",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "坐垫初始化归位",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "59020d4d99f61032"
            ]
        ]
    },
    {
        "id": "59020d4d99f61032",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d4b898697ad9867",
        "type": "inject",
        "z": "a5e559706e7cb5f0",
        "name": "气囊初始化归位END",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "47d65f95e85d05f5"
            ]
        ]
    },
    {
        "id": "47d65f95e85d05f5",
        "type": "delay",
        "z": "a5e559706e7cb5f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 520,
        "wires": [
            [
                "cce62c5a44bcae2a"
            ]
        ]
    },
    {
        "id": "cce62c5a44bcae2a",
        "type": "rpi-gpio out",
        "z": "a5e559706e7cb5f0",
        "name": "靠背向后",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "193f9130dc45f976",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": " "
    },
    {
        "id": "a61959c5fb2aafc9",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "3c48bdf53b96508a",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "1000000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": ""
    }
]